source https://nuget.org/api/v2

nuget FSharp.Core

group Service
  source https://nuget.org/api/v2
  storage:none

  nuget App.Metrics.Extensions.DependencyInjection
  nuget Microsoft.AspNetCore.App
  nuget Saturn
  nuget TaskBuilder.fs
  nuget StackExchange.Redis
  nuget System.IdentityModel.Tokens.Jwt

group Client
  source https://nuget.org/api/v2
  storage:none

  nuget Fable.Core
  nuget Fable.Elmish
  nuget Fable.Elmish.Debugger
  nuget Fable.Elmish.React
  nuget Fable.Elmish.HMR
  nuget Fable.Elmish.Browser
  nuget Fable.React
  nuget Fulma
  nuget Fulma.Extensions

  clitool dotnet-fable
