source https://api.nuget.org/v3/index.json
framework: net7.0

nuget FSharp.Core

group Service
  source https://api.nuget.org/v3/index.json
  storage:none
  framework: net7.0

  nuget StackExchange.Redis
  nuget System.IdentityModel.Tokens.Jwt
  nuget Microsoft.FSharpLu.Json
  nuget MongoDB.Driver
  nuget Microsoft.AspNetCore.Hosting.Abstractions
  nuget Argu
  nuget Bogus
  nuget Http.fs
  nuget Giraffe

group Tests
  source https://api.nuget.org/v3/index.json
  storage:none
  framework: net7.0

  nuget xunit
  nuget xunit.runner.visualstudio
  nuget Expecto
  nuget Expecto.TestResults
  nuget YoloDev.Expecto.TestSdk
  nuget Microsoft.NET.Test.Sdk
